.table {
    color: black;
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
}
.tablea{
    padding-right: 15px;
    background-color: white;
    position: relative;
}
.buttone{
 color: rgb(255, 255, 255);
 background-color: rgb(0, 63, 223);
 position: relative;
 box-sizing: border-box;

}
.buttonl{
    color: rgb(255, 255, 255);
    background-color: red;
}
.judul{
    font-family: 'Brush Script MT', sans-serif;
}
.buttont{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 160, 51);
}